<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>UNICEF Immunization Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
        <div class="wrapper">
                <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="/index">UNICEF
                        
                      </a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right navbar-right-custom">
                              <li><a href="/polls/BCG">BCG</a></li>
                              <li><a href="/polls/DTP1">DTP1</a></li>
                              <li><a href="/polls/DTP3">DTP3</a></li>
                              <li><a href="/polls/HepB3">HepB3</a></li>
                              <li><a href="/polls/HepBB">HepBB</a></li>
                              <li><a href="/polls/Hib3">Hib3</a></li>
                              <li><a href="/polls/IPV1">IPV1</a></li>
                              
                              <li><a href="/polls/MCV1">MCV1</a></li>
                              <li><a href="/polls/MCV2">MCV2</a></li>
                              <li><a href="/polls/PCV3">PCV3</a></li>
                              <li><a href="/polls/Pol3">Pol3</a></li>
                              <li><a href="/polls/RCV1">RCV1</a></li>
                              <li><a href="/polls/ROTAC">ROTAC</a></li>
                              <li><a href="/polls/YFV">YFV</a></li>
                            </ul>
                          </div>
                        </nav>

                        <div class="hero text-center">
                                <h1>UNICEF</h1>
                                <p>World Immunization Report</p>
                                <div class="row margin-top-100">
                                        <div class="col-md-2" >
                                                <a font color="black" href="/polls/BCG" >BCG</a>
                                              </div>
                                              <div class="row"> 
                                              <div class="col-md-2">    
                                                <a  href="/polls/DTP1">DTP1</a>
                                              </div>
                                              <div class="col-md-2" >      
                                                <a  href="/polls/DTP3">DTP3</a>
                                              </div>
                                              <div class="col-md-2">
                                                  <a href="/polls/HepB3">HepB3</a>
                                              </div>
                                              <div class="col-md-2" >
                                                      <a href="/polls/HepBB">HepBB</a>
                                                  </div>
                                              <div class="col-md-2">
                                                      <a href="/polls/Hib3">Hib3</a>
                                                  </div>
                                              <div class="col-md-2" >
                                                      <a href="/polls/IPV1">IPV1</a>
                                                  </div>
                                              <div class="col-md-2">
                                                      <a href="/polls/MCV1">MCV1</a>
                                                  </div>
                                              <div class="col-md-2" >
                                                          <a href="/polls/MCV2">MCV2</a>
                                                  </div>
                                      
                                              <div class="col-md-2" >
                                                          <a href="/polls/PCV3">PCV3</a>
                                               </div>
                                              <div class="col-md-2" >
                                                          <a href="/polls/Pol3">Pol3</a>
                                               </div>
                                               <div class="col-md-2" >
                                                      <a href="/polls/RCV1">rcv1</a>
                                           </div>
                                           <div class="col-md-2" >
                                            <a href="/polls/ROTAC">ROTAV</a>
                                 </div>
                                 <div class="col-md-2" >
                                  <a href="/polls/YFV">YFV</a>
                       </div>
                                          </div>
                                        
                                </div>
                              </div>
    


</body>


</html>